@font-face {
  font-family: Ubuntu, sans-serif;
  src: url("/multi-step-form/assets/fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: UbuntuBold, sans-serif;
  src: url("/multi-step-form/assets/fonts/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: UbuntuMedium, sans-serif;
  src: url("/multi-step-form/assets/fonts/Ubuntu-Medium.ttf");
}

/* Google Font : Ubuntu */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  /* Primary Colors */
  --blue-950: hsl(213, 96%, 18%);
  --purple-600: hsl(243, 100%, 62%);
  --blue-300: hsl(228, 100%, 84%);
  --blue-200: hsl(206, 94%, 87%);
  --red-500: hsl(354, 84%, 57%);
  --black: #000;

  /* Neutral Colors */
  --grey-500: hsl(231, 11%, 63%);
  --purple-200: hsl(229, 24%, 87%);
  --blue-100: hsl(218, 100%, 97%);
  --blue-50: hsl(231, 100%, 99%);
  --white: hsl(0, 100%, 100%);

  /* Links Color*/
  --anchor: hsl(228, 45%, 44%);

  /* Typography */
  --text-paragraph: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-transform: none;
  outline: none;
}

/* Google Font : Ubuntu */
.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--anchor);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem 0;
  width: 100dvw;
  height: 100dvh;
  background-color: var(--blue-100);
  font-family: "Ubuntu", sans-serif;
}

.card {
  display: flex;
  border-radius: 12px;
  padding: 20px 20px;
  background: var(--white);
  width: 50%;
  height: 70%;
}

/* SIDEBAR */

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background: url("/multi-step-form/assets/images/bg-sidebar-desktop.svg") no-repeat;
  background-size: cover;
  width: clamp(250px, 300px, 50%);
  height: 100%;
  color: var(--white);
  border-radius: 12px;
  text-transform: uppercase;
  flex: 1 0 300px;
}

.step {
  display: flex;
  gap: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.step-index {
  padding: 10px 15px;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid var(--white);
}

.step-index.active {
  background: var(--blue-200);
  color: var(--black);
}

.step-info {
  text-transform: uppercase;
  color: var(--grey-500);
}

.step-content {
  display: flex;
  flex-direction: column;
}

.step-title {
  font-weight: bold;
  text-transform: uppercase;
}

.step-card-container {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  overflow-x: hidden;
  flex: 1 1 100%;
}

.step-slide,
form {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  position: relative;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.step-slide {
  padding: 10px 30px;
  transition: all 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.title {
  color: var(--blue-950);
}

.subtitle {
  color: var(--grey-500);
  font-size: var(--text-paragraph);
}

.btn-container {
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: end;
}

.btn-container.space-between {
  justify-content: space-between;
}

.btn {
  padding: 10px 20px;
  border: 1px solid transparent;
  font-weight: bold;
  background-color: var(--blue-950);
  color: var(--white);
  border-radius: 8px;
  width: fit-content;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.btn-outline {
  color: var(--grey-500);
  background-color: transparent;
  border: none;
}

.btn:hover {
  background-color: transparent;
  color: var(--blue-950);
  border: 1px solid var(--blue-950);
}

.btn-outline:hover {
  color: var(--blue-500);
  border: none;
}

.btn-confirm {
  background-color: var(--purple-600);
}

.btn-confirm:hover {
  background-color: var(--purple-600);
  color: var(--white);
  opacity: 0.6;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

input {
  padding: 0 10px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--black);
  vertical-align: middle;
  color: var(--blue-950);
  font-weight: bold;
  transition: all 0.6s ease-in-out;
}

input:focus,
input:hover {
  border: 1px solid var(--purple-600);
  outline: 1px solid var(--purple-600);
}

input::placeholder {
  color: var(--grey-500);
}

.label-container {
  display: flex;
  justify-content: space-between;
}

.label-container .required-error {
  font-weight: bold;
  color: var(--red-500);
  display: none;
}

.label-container .required-error.visible {
  display: flex;
}

label {
  font-weight: bold;
  color: var(--blue-950);
}

.congrats-container {
  display: flex;
  flex-direction: column;
  gap: 20px 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* Plans */

.plans-container {
  display: flex;
  gap: 10px 20px;
  justify-content: space-between;
}

.plan {
  padding: 10px 20px;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem 0;
  min-width: 150px;
  min-height: 150px;
  display: flex;
  border: 1px solid var(--blue-950);
  border-radius: 12px;
  cursor: pointer;
  flex: 1 1 150;
}

.plan.active, .plan:hover {
  border: 1px solid var(--purple-600);
}

.frequency{
  font-weight: bold;
  display: flex;
  background-color: var(--blue-100);
  justify-content: center;
  align-items: center;
  gap: 0 20px;
  border-radius: 10px;
  color: var(--grey-500);
}

.frequency span.active{
  color: var(--blue-950);
}

/* Icons */

.icon-thank-you {
  width: 60px;
  height: 60px;
}

.icon-plans {
  width: 36px;
  height: 36px;
}

/* Pick Add-ons */
.pick-add-ons-selector{
  display: flex;
  padding: 20px 10px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  border-radius: 8px;
}

.pick-add-ons-selector.active, .pick-add-ons-selector:hover{
  border: 1px solid var(--purple-600);
}

.pick-add-ons-selector .container{
  display: flex;
  gap: 0.75rem;
}

.pick-add-ons-selector input[type="checkbox"],
.pick-add-ons-selector input[type="checkbox"]:checked{
  background: var(--purple-600);
  border: 1px solid var(--purple-600);
  outline: none;
}


.pick-add-ons-selector .price{
  color: var(--purple-600);
  font-weight: bold;
}


/* Summary */
.price-resume {
  display: flex;
  justify-content: space-between;
}

.price-resume .amount {
  font-weight: bold;
  color: var(--purple-600);
}

/* Resume Content */
.resume-content {
  padding: 1rem;
  background-color: var(--blue-100);
  border-radius: 12px;
}

.selected-pick-add-ons{
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: .5rem 0;
}

.resume-content .selected-plan, 
.selected-pick-add-ons .pick-add-ons{
  display: flex;
  justify-content: space-between;
}

.info-container .change-plan{
  text-decoration: underline;
  cursor: pointer;
  transition: all .6s ease-in-out;
}

.info-container .change-plan:hover{
  color: var(--purple-600);
}

@media screen and (width < 375px) {
}

@media screen and (width >= 1440px) {
}
